{% extends "hydrology/base_generic.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="col-md-auto">
                {{ form.username }}
            </div>
            <br>
            <div class="col-md-auto">
                {{ form.password }}
            </div>
            <br>
            <div class="col-md-auto">
                <input type="submit" name = "login" value="Вход" />
            </div>
            <input type="hidden" name="next" value="{% url 'home' %}" />
        </form>

    </div>
</div>
{% if form.errors %}
<div class="container">
    <div class="row justify-content-md-center">

        <div class="col-md-auto">
            <div class="alert alert-danger" role="alert">
                Неправильный логин или пароль
            </div>
        </div>

    </div>
</div>
{% endif %}

{% endblock %}
