{% extends "hydrology/base_generic.html" %}

{% block content %}
<h1>{{user.get_username }}</h1>
<h2>Hydropost category</h2>
<form action = "{% url 'record' %}" method = "post">
    {% csrf_token %}
    <select name="hydropost">
        {% for hydropost in hydroposts %}
        <option value="{{ hydropost.nameEn }}">{{ hydropost.name }}</option>
        {% endfor %}
        <input name="asput" type = "submit" value = "Submit" />
    </select>
</form>
{% load static %}
<script src="{% static "hydrology/hydrology.js" %}"></script>
{% endblock %}
